html,body{background-color: #ffffff;font-family: "Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif!important;}
* {
-webkit-touch-callout:inherit;
-webkit-user-select:text;
-khtml-user-select:text;
-moz-user-select:text;
-ms-user-select:text;
user-select:text;
}
.preloading{
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	display: flex;
  justify-content: center;
  align-items: center;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #444;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.media{
	display: none;
	justify-content: center;
	align-items: center;
	height: 200px;
	position: relative;
	z-index: 9;
	margin-bottom: 10px;
	-webkit-box-pack: center;
	-webkit-box-align:center;
}
.media img{
	width: 60px;
	height: 60px;
}
.media iframe{
	width: 100%!important;
	height: 200px!important;
}
#video{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 200px;
	margin-bottom: 10px;
	z-index: 99;
}
#audio{
  width: 100%;
  position: absolute;
  top: 170px;
  z-index: 9;
  display: none;
}
.article{
	padding: 20px;
}
.article-title{
	margin-bottom: 12px;
	line-height: 20px;
}
.article-author,.article-date{
	font-size: 12px;
	color: #bfbfbf;
	margin: 0;
}
.article-cont{
	margin-top: 20px;
}
.article-cont p{
	line-height: 24px;
	color: #444;
	font-size: 14px;
}
.article-cont img{
	width: 100%;
}
.article-tags{
	max-height: 60px;
	overflow: hidden
}
.tag{
	padding: 4px 8px;
	display: inline-block;
	background-color: #f2f2f2;
	border-radius: 8px;
	font-size: 12px;
	line-height: 12px;
	color: #484848;
	margin-right: 10px;
	margin-bottom: 10px;
}
.comments{
	padding: 40px 15px 15px; 
	position: relative;
}
.comments .hr{
	background-color: #b5b5b5;
	height: 0.5px;
	width: 100%;
	margin-bottom: 20px;
}
.comments .hint{
  position: absolute;
  height: 20px;
  width: 86px;
  background-color: #fff;
  top: 30px;
  text-align: center;
  left: 50%;
  margin-left: -43px;
  color: #b5b5b5;
  letter-spacing: 1px;
  font-size: 13px;
}
.comments-list {
	padding: 0;
	margin-bottom: 10px;
}
.comments-list li{
	list-style: none;
	position: relative;
	padding: 15px 0;
	font-size: 14px;
}
.comments-list li:after{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #c8c7cc;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}
.comment-body{
	display: block;
	margin: 0 0 0 50px;
}
.comments-list li img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	float: left;
}
.comments-list li p{
	margin: 5px 0 0;
	font-size: 14px;
}
.comment-date{
	color: #676767;
	font-size: 12px;
	position: absolute;
	top: 15px;
	right: 0;
}
.recommends{
	padding-bottom: 45px;
}
.recommends-list{
	padding: 0 16px;
}
.recommends-list li{
	list-style: none;
	position: relative;
	margin: 15px 0;
}
.recommends-list li img{
	width: 157px;
	height: 94px;
	margin-right: 10px;
	float: left;
}
.recommend-body{
	display: block;
  margin: 0 0 0 170px;
  font-size: 13px;
  color: #000;
  height: 94px;
}
.recommend-body .toppic-name{
  line-height: 16px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.recommend-body p{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 14px;
}
.modal{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.4);
	z-index: 99;
}
.modal-main{
	width: 225px;
	height: 140px;
	background-color: #fff;
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body{
	margin-top: 24px;
}
.close{
	width: 12px;
	height: 12px;
	background: url(/artgoer/img/h5/close@2x.png);
	background-size: cover;
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
}
.modal-body h5{
	text-align: center;
	color: #000;
	font-size: 14px;
}
.btn-close{
	width: 60px;
	height: 25px;
	background: url(/artgoer/img/h5/sure@2x.png);
	background-size: cover;
	border: none;
	margin: 25px auto 0;
	display: block;
}
.modal-body p{
	color: #3e3e3e;
	font-size: 13px;
	margin-bottom: 0;
}
.subjects{
	background-color: rgba(0,0,0,.1);
}
.subject{
	height: 225px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}
.subject h3{
	font-size: 18px;
	margin: 20px 0; 
}
.subject p{
	font-size: 13px;
	color: #fff;
}
.download{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 19;
	display: none;
}
.download img{vertical-align: bottom}
